@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>取水许可证管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="WrWpcM.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="WrWpcMTableToolbar" role="group">
                            @if(shiro.hasPermission("/wrWpcM/add")){
                                <#button name="添加" icon="fa-plus" clickFun="WrWpcM.openAddWrWpcM()"/>
                            @}
                            @if(shiro.hasPermission("/wrWpcM/update")){
                                <#button name="修改" icon="fa-edit" clickFun="WrWpcM.openWrWpcMDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/wrWpcM/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="WrWpcM.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/wrWpcM/detail")){
                                <#button name="查看详情" icon="fa-search" clickFun="WrWpcM.detail()" space="true"/>
                            @}
                        </div>
                        <#table id="WrWpcMTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/szys/wrWpcM/wrWpcM.js"></script>
@}
