<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.WrAdBMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.WrAdB">
        <id column="AD_CD" property="adCd" />
        <result column="AD_NM" property="adNm" />
        <result column="AD_SHNM" property="adShnm" />
        <result column="AD_A" property="adA" />
        <result column="IS_ENABLE" property="isEnable" />
        <result column="TS" property="ts" />
        <result column="NT" property="nt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AD_CD, AD_NM, AD_SHNM, AD_A, IS_ENABLE, TS, NT
    </sql>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_Map">
        AD_CD as adCd, AD_NM as adNm, AD_SHNM as adShnm, AD_A as adA, IS_ENABLE as isEnable, TS as ts, NT as nt
    </sql>

    <select id="selectWrAdBMapByParams" resultType="map">
        select
        <include refid="Base_Column_Map"/>
        from wr_ad_b
        where 1=1
        <if test="adCd != null and adCd != ''">
            <bind name="adCdLike" value="'%' + adCd + '%'"/>
            and AD_CD like #{adCdLike}
        </if>
        <if test="adNm != null and adNm != ''">
            <bind name="adNmLike" value="'%' + adNm + '%'"/>
            and (
            AD_NM like #{adNmLike}
            or AD_SHNM like #{adNmLike}
            )
        </if>
        <if test="isEnable != null and isEnable != ''">
            and IS_ENABLE = #{adNm}
        </if>
        <choose>
            <when test="orderByField != null and orderByField !=''">
                <choose>
                    <when test="isAsc == true">
                        order by ${orderByField} ASC
                    </when>
                    <otherwise>
                        order by ${orderByField} DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by AD_CD asc
            </otherwise>
        </choose>
    </select>

</mapper>
